{% extends 'base.html' %}

{% block title %}
    <title>Создание объявления</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Создание объявления</h2>
    <form method="post">
        <input type="text" class=form-control" name="title" id="title" placeholder="Введите название"><br><br>
        <input type="number" class=form-control" name="price" id="price" placeholder="Введите цену"><br><br>
        <textarea type="text" class=form-control" name="info" id="info" placeholder="Введите описание"></textarea><br><br>
        <button class="btn btn-success" type="submit">Добавить товар</button><br>
    </form>
<div>

{% endblock %}
