{% extends 'base.html' %}

{% block title %}
<title>Ваш профиль</title>
{% endblock %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 text-center">
  <h1 class="display-4">Ваш профиль</h1>
  <p class="lead">Записи пользователя {{session['userLogged']}}</p>
</div>
<div class="container">


  <div class="card-deck mb-3 text-center" ">

  {%for el in data%}

    <div class="card mb-4 shadow-sm col-md-4 col-xl-3 ">
      <div class="card-header">


        <h4 class="my-0 font-weight-normal">{{el.title}}</h4>

        {% if session['userLogged'] == el.parent %}
        <a href="/product/{{el.id}}" class="badge badge-primary">ред</a><a href="/delete/{{el.id}}" class="badge badge-danger">удалить</a>
        {% endif %}

      </div>
      <div class="card-body d-flex flex-column">
        <h1 class="card-title pricing-card-title ">{{el.price}} <small class="text-muted">rub</small></h1>
        <ul class="list-unstyled mt-4 mb-6">
          {% for i in el.info.split(' ')%}
          {% if i|length >8 %}
            <li>{{i}}</li>
            {% else%}
            {{i}}
            {% endif %}
            {% endfor %}
        </ul>


        <a href="" class="btn btn-lg btn-block btn-outline-primary mt-auto ">Купить</a>

      </div>
    </div>
  {% endfor %}
  </div>


  </div>
</div>

{% endblock %}